<ion-header>
    <ion-toolbar>
      <ion-title>
        Descripcion
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <img class="icon" src="/assets/icon/logo.svg" alt="" />
        <ion-card-header>
          
          <ion-card-title>Menu</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Selecciona tu plato preferido!</p>
        </ion-card-content>
      </ion-card>
      <ion-searchbar showCancelButton="never"></ion-searchbar>

      <ion-list>
          <ion-item *ngFor ="let resta of restaurantes" (click)="OpenRestaurantes()">
              <ion-avatar slot="start">
                  <ion-img [src]="resta.img">  </ion-img>
                </ion-avatar>
            <ion-label>
              <h2><b>{{resta.nombre}}</b></h2>
              <p>{{resta.descripcion}}</p>
            </ion-label>
          </ion-item>
          
        </ion-list>
  </ion-content>
  