<ion-header>
    <ion-toolbar color="primary">
      <ion-title text-center>Iniciar Sesion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <img class="icon" src="assets/icon/logo.svg" alt="">
  <ion-item> 
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item> 
  <ion-item> 
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input  [(ngModel)]="password" type="password" name="password"></ion-input>
  </ion-item> 
  <br>
  <ion-button (click)="EnviarLogin()" expand="block">Entrar</ion-button>
  
  </ion-content>